:root {
  /* カラー */
  --color-base: #FBFBFB;
  --color-text: #333333;
  --color-text-sub: #838383;
  --color-primary: #F4E1C1;
  --color-gradation: linear-gradient(to bottom, #C09756, #D7B886, #F4E1C1);
  --color-accent: #FF3131;
  --color-surface: #fff;
  
  /* フォント */
  --font-en: "Cormorant Garamond", serif;
  --font-base: "Noto Sans JP",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Helvetica Neue",
    Arial,
    sans-serif;

  /* フォントサイズ */
  --font-xs: .625rem;
  --font-s: .75rem;
  --font-sm: .875rem;
  --font-m: 1rem;
  --font-ml: 1.25rem;
  --font-l: 1.5rem;
  --font-lg: 1.75rem;
  --font-xl: 2rem;

  /* ヘッダー */
  --header-height: 80px;
}