@charset "UTF-8";

/* common */

body {
  background: var(--color-base);
  color: var(--color-text);
  font-family: var(--font-base);
}

body:has(dialog[open]) {
  /* ダイアログ表示時の背景スクロール停止 */
  /* Background scroll lock while dialog is open */
  overflow: hidden;
}

.font-ja {
  color: var(--color-text-sub);
  font-family: var(--font-base);
  font-weight: 400;
}

.font-s {
  font-size: var(--font-s);
}

.font-sm {
  font-size: var(--font-sm);
}

/* header */

.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  background: var(--color-base);
}

.header__logo-img {
  width: 64px;
  height: auto;
}

.header__btn-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
}

.header__btn-icon {
  width: 40px;
  height: 40px;
}

.header__btn-label {
  font-family: var(--font-en);
  font-weight: 700;
  letter-spacing: 0.1em;
}

.header__btn-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
}

.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 75%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-base);
  border: none;
  overflow-y: auto;
  translate: 100% 0;
  opacity: 0;
  interactivity: inert;
  pointer-events: none;
  transition:
    translate .3s ease,
    opacity .3s ease,
    display .3s allow-discrete,
    overlay .3s allow-discrete;
}

.header__nav[open] {
  translate: 0 0;
  opacity: 1;
  interactivity: auto;
  pointer-events: auto;
  @starting-style {
    translate: 100% 0;
    opacity: 0;
  }
}

.header__nav::backdrop {
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition:
  opacity .3s ease,
  display .3s allow-discrete,
  overlay .3s allow-discrete;
}

.header__nav[open]::backdrop {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--header-height);
  padding: 0 5vw;
}

.gnav {
  margin: 80px 0 0;
  padding: 0 5vw;
}

.gnav__list {
  list-style: none;
  padding: 0;
}

.gnav__item {
  text-align: center;
  border-top: 1px solid var(--color-primary);
}

.gnav__item:last-child {
  border-bottom: 1px solid var(--color-primary);
}

.gnav__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-text);
  font-size: var(--font-l);
  font-family: var(--font-en);
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 16px 0;
}


iframe {
  width: 100%;
}

.reserve-btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 80px 0 0;
  gap: 32px;
  font-weight: 700;
}

.reserve-btn {
  padding: 16px 24px;
  background: var(--color-accent);
  color: var(--color-base);
  text-decoration: none;
}

.phone-btn {
  padding: 8px 24px;
  background: var(--color-base);
  color: var(--color-accent);
  text-decoration: none;
  border: 1px solid var(--color-accent);
}
/* main */

/* footer */