@charset "UTF-8";

/* common */

body {
  background: var(--color-base);
  color: var(--color-text);
  font-family: var(--font-base);
}

body:has(dialog[open]) {
  /* ダイアログ表示時の背景スクロール停止 */
  /* Background scroll lock while dialog is open */
  overflow: hidden;
}

p,dl {
  letter-spacing: .1em;
}

.font-ja {
  color: var(--color-text-sub);
  font-family: var(--font-base);
  font-weight: 400;
}

.font-s {
  font-size: var(--font-s);
}

.font-sm {
  font-size: var(--font-sm);
}

.font-m {
  font-size: var(--font-m);
}

.font-ml {
  font-size: var(--font-ml);
}

.font-xl {
  font-size: var(--font-xl);
}

/* header */

.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  background: var(--color-base);
}

.header__logo-img {
  width: 64px;
  height: auto;
}

.header__btn-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__btn-icon {
  width: 40px;
  height: 40px;
}

.header__btn-label {
  font-family: var(--font-en);
  font-weight: 700;
  letter-spacing: .1em;
}

.header__btn-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 75%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-base);
  border: none;
  overflow-y: auto;
  translate: 100% 0;
  opacity: 0;
  interactivity: inert;
  pointer-events: none;
  transition:
    translate .3s ease,
    opacity .3s ease,
    display .3s allow-discrete,
    overlay .3s allow-discrete;
}

.header__nav[open] {
  translate: 0 0;
  opacity: 1;
  interactivity: auto;
  pointer-events: auto;
  @starting-style {
    translate: 100% 0;
    opacity: 0;
  }
}

.header__nav::backdrop {
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition:
  opacity .3s ease,
  display .3s allow-discrete,
  overlay .3s allow-discrete;
}

.header__nav[open]::backdrop {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--header-height);
  padding: 0 5vw;
}

.gnav {
  margin: 80px 0;
  padding: 0 5vw;
}

.gnav__list {
  list-style: none;
  padding: 0;
}

.gnav__item {
  text-align: center;
  border-top: 1px solid var(--color-primary);
}

.gnav__item:last-child {
  border-bottom: 1px solid var(--color-primary);
}

.gnav__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-text);
  font-size: var(--font-l);
  font-family: var(--font-en);
  font-weight: 700;
  letter-spacing: .1em;
  padding: 16px 0;
}

/* main */
main {
  padding-top: var(--header-height);
}

.fv {
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  height: calc(100svh - var(--header-height));
  overflow: hidden;
  z-index: -1;
}

.fv__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56.5%;
  background: url(../images/mv-top.jpg) no-repeat center / cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  opacity: 0;
  transition: opacity 1s ease;
  transform-origin: center center;
  will-change: transform;
}

.fv__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  background: url(../images/mv-bottom.jpg) no-repeat center / cover;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  opacity: 0;
  transition: opacity 1s ease .2s;
  transform-origin: center center;
  will-change: transform;
}

.fv__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  font-family: var(--font-en);
}

.fv__title {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .1em;
}

.fv__title--white,
.fv__title--red,
.fv__title--black {
  opacity: 0;
  translate: 0 10px;
  transition:
    opacity 0.8s ease,
    translate 0.8s ease;
}

.fv__title--white {
  color: var(--color-base);
}

.fv__title--red {
  color: var(--color-accent);
  font-size: 80px;
}

.scroll {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-en);
  font-size: var(--font-m);
  font-weight: 700;
  color: var(--color-text);
  letter-spacing: .15em;
  opacity: 0;
  transition: opacity .8s ease;
}

.scroll::before {
  animation: scroll-line 2s infinite;
  background-color: var(--color-text);
  bottom: -115px;
  content: "";
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 1px;
  z-index: 2;
}

.scroll::after {
  background-color: rgba(33, 33, 33, 0.3);
  bottom: -115px;
  content: "";
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 1px;
}

@keyframes scroll-line {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

.fv.is-active .fv__top {
  opacity: 1;
}

.fv.is-active .fv__bottom {
  opacity: 1;
}

.fv.is-active .fv__title--white {
  opacity: 1;
  translate: 0 0;
  transition-delay: 1s;
}

.fv.is-active .fv__title--red {
  opacity: 1;
  translate: 0 0;
  transition-delay: 1.3s;
}

.fv.is-active .fv__title--black {
  opacity: 1;
  translate: 0 0;
  transition-delay: 1.6s;
}

.fv.is-active .scroll {
  opacity: 1;
  transition-delay: 2s;
}

.section {
  background: var(--color-base);
  padding: 5rem 5vw;
  border-bottom: 1px solid #E7E7E7;
}

.section-header {
  display: flex;
  flex-direction: column;
  font-family: var(--font-en);
  font-size: var(--font-xl);
  font-weight: 700;
  position: relative;
  margin: 0 0 2.5rem;
}

.section-header--left::before {
  content: attr(data-en);
  position: absolute;
  top: -35px;
  left: -4vw;
  font-size: 64px;
  pointer-events: none;
  color: transparent;
  opacity: 0.2;
  -webkit-text-stroke: 1px var(--color-text);
  text-stroke: 1px var(--color-text);
  paint-order: stroke fill;
  white-space: nowrap;
  z-index: 0;
}

.section-header--center {
  align-items: center;
}

.section-header--center::before {
  content: attr(data-en);
  position: absolute;
  top: -35px;
  font-size: 64px;
  pointer-events: none;
  color: transparent;
  opacity: 0.2;
  -webkit-text-stroke: 1px var(--color-text);
  text-stroke: 1px var(--color-text);
  paint-order: stroke fill;
  white-space: nowrap;
  z-index: 0;
}

.section-subtitle {
  font-size: var(--font-ml);
  margin: 0 0 2.5rem;
}

.concept__imgs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 0 2.5rem;
  padding: 0;
  list-style: none;
}

.concept__img-item:nth-child(1) {
  padding-right: 16%;
}

.concept__img-item:nth-child(2) {
  padding-left: 16%;
}

.concept__img {
  height: auto;
}

.concept__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.card__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  width: 160px;
  height: auto;
  margin: 0 0 1rem;
  border-radius: 50%;
}

.card__name {
  font-size: var(--font-ml);
  font-weight: 500;
}

.card__role {
  font-size: var(--font-sm);
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu__wrap {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 0 2.5rem;
}

.menu__img {
  height: auto;
  padding-left: 16%;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-btn__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  color: var(--color-text);
  text-decoration: none;
  font-family: var(--font-en);
  font-size: var(--font-m);
  font-weight: 500;
  letter-spacing: .1em;
  border-bottom: 1px solid var(--color-accent);
  padding: 8px 8px;
  position: relative;
}

.more-btn__link--red {
  color: var(--color-accent);
}

.arrow-right {
  width: 16px;
  height: 5px;
  margin: 0 0 0 .5rem;
  border-right: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
  transform: skew(45deg);
}

.access__splide {
  margin: 0 -5vw .5rem;
}

.access__thumbs {
  margin: 0 0 2.5rem;
}

.access__thumbs .splide__slide {
  opacity: .6;
  transition: opacity .6s;
}

.access__thumbs .splide__slide.is-active {
  opacity: 1;
}

.splide__img {
  width: 100%;
  height: auto;
}

.access__info {
  margin: 0 0 2.5rem;
}

.access__item {
  padding: 1rem 0;
  border-top: 1px solid var(--color-primary);
}

.access__item:last-child {
  border-bottom: 1px solid var(--color-primary);
}

.access__term {
  margin: 0 0 1rem;
  font-family: var(--font-en);
  font-size: var(--font-l);
  font-weight: 500;
  display: flex;
  align-items: baseline;
}

.fa-location-dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-base);
  background: var(--color-accent);
  width: 30px;
  height: 30px;
  padding: 8px;
  margin: 0 0 0 .25rem;
  border-radius: 50%;
}

.access__note {
  margin: 2rem 0 0;
}

.text-slash {
  display: flex;
  align-items: center;
}

.text-slash::after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  background: var(--color-text);
  transform: rotate(-75deg);
}

.access__map {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.access__map iframe {
  width: 100%;
  height: 100%;
}

.reserve-btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  font-weight: 700;
  letter-spacing: .05rem;
}

.reserve-btn {
  display: flex;
  align-items: center;
  padding: 1.25rem 1.5rem;
  background: var(--color-accent);
  color: var(--color-base);
  text-decoration: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.reserve-btn-wrap i {
  margin: 0 .25rem 0 0;
}

.phone-btn {
  display: flex;
  align-items: center;
  padding: .75rem 1.5rem;
  background: var(--color-base);
  color: var(--color-accent);
  text-decoration: none;
  border: 1px solid var(--color-accent);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

/* footer */

.footer__img {
  width: 120px;
  height: auto;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 5rem 5vw;
  border-bottom: 1px solid #E7E7E7;

}

.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  font-family: var(--font-en);
  font-weight: 700;
  letter-spacing: .1em;
}

.footer__link {
  text-decoration: none;
  color: var(--color-text);
}

.footer__insta {
  color: var(--color-text);
}

.footer__bottom {
  text-align: center;
  padding: 1.5rem 5vw;
}


/* MENU-page */

.menu-filter {
  display: flex;
  align-items: center;
  list-style: none;
  background: var(--color-text);
  color: var(--color-base);
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  gap: 0.5rem;
}

.menu-filter__arrow {
  margin: 0 0 0 auto;
}

.cat-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  text-align: center;
  list-style: none;
  padding: 2.5rem 1vw;
  background: var(--color-surface);
  border: 1px solid var(--color-text);
  border-radius: 0 0 8px 8px;
}

.cat-list__btn {
  display: flex;
  flex-direction: column;
  background: var(--color-base);
  border: 1.5px solid var(--color-primary);
  color: var(--color-text);
  width: 100%;
  padding: .5rem 0;
  font-family: var(--font-en);
  font-size: var(--font-ml);
  font-weight: 700;
  letter-spacing: .1em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition:
    background 0.3s ease,
    box-shadow 0.2s ease,
    transform 0.2s ease;
}

.cat-list__btn.is-active {
  background: var(--color-gradation);
  color: var(--color-text);
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
}

.menu-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-en);
  font-size: var(--font-lg);
}